__pycache__/
output/
dump/

*.payload/
*.payload.*/
*.rax
*.pt
*.pth
params.f32
weights.i8
scales.bin
buddy-graph.txt
buddy-buckyball-*-run

*.bak
*.bak/
*.permuted.bak
*.permuted.bak/
*.nchw_restore.bak
