[submodule "thirdparty/buddy-mlir"]
	path = thirdparty/buddy-mlir
	url = https://github.com/buddy-compiler/buddy-mlir.git
[submodule "thirdparty/chipyard"]
	path = thirdparty/chipyard
	url = https://github.com/ucb-bar/chipyard.git
[submodule "thirdparty/buckyball"]
	path = thirdparty/buckyball
	url = https://github.com/DangoSys/buckyball.git
